# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# =========================
# Logs & Debug
# =========================
*.log

# =========================
# Database (IMPORTANT)
# =========================
*.db
*ems.db
*.sqlite3

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# PyInstaller
# =========================
*.spec

# =========================
# Cache / Coverage
# =========================
.coverage
htmlcov/
.tox/
.pytest_cache/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Misc
# =========================
*.bak
*.tmp
*.temp